#home--container {
  min-height: $mainHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $primaryColor;
  }

  .search-box--container {
    width: 100%;
    max-width: 460px;

    p {
      color: #f00;
      font: {
        weight: bold;
        size: 1.2rem;
      }
      margin-top: 3px;
      padding-left: 10px;
    }
  }
}
