#navbar {
  background-color: $accentColorDark;
}

#nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;

    &:hover .logo__one,
    &:hover .logo__two {
      color: $accentColor;
    }
  }

  .logo {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    width: 55px;
    font-weight: bold;
    text-align: left;

    .logo__one {
      color: $primaryColorLight;
    }

    .logo__two {
      color: $secondaryColor;
    }
  }

  #search-box {
    width: calc(100% - 75px);
    max-width: 400px;
    border-color: $accentColorDark;

    #search-btn {
      &:hover .graphics {
        stroke: $primaryColorLight;
      }

      .graphics {
        stroke: $primaryColor;
      }
    }
  }
}
