#navbar {
  background-color: $accentColorDark;
}

#nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  .logo {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    width: 55px;
    font: {
      weight: bold;
      size: 1.5rem;
    }
    text-align: left;

    .logo__one {
      color: $primaryColorLight;
    }

    .logo__two {
      color: $secondaryColor;
    }
  }

  #search-box {
    width: calc(100% - 75px);
    max-width: 400px;
    border-color: $accentColorDark;

    #search-btn {
      &:hover .graphics {
        stroke: $primaryColorLight;
      }

      .graphics {
        stroke: $primaryColor;
      }
    }
  }

  .nav__error {
    padding: 5px;
    width: 85%;
    max-width: 275px;
    background-color: $accentColor;
    color: $secondaryColorDark;
    font: {
      weight: bold;
      size: 1.2rem;
    }
    text-align: center;
    border: 2px solid $accentColorDark;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    animation: slide 2.85s ease-in;
  }
}

@keyframes slide {
  5% { bottom: 17px; }
  95% { opacity: 1 }
  100% {
    bottom: 17px;
    opacity: 0;
  }
}
