#search-box {
  @include borders(search);
  background-color: $white;
  height: 37px;
  position: relative;

  #search {
    width: calc(100% - 40px);
    border-radius: 7px 0 0 7px;
    padding-left: 10px;
    font-family: $Montserrat;
    @include searchBox;
    left: 0;
  }

  #search-btn {
    cursor: pointer;
    width: 40px;
    border-radius: 0 7px 7px 0;
    @include searchBox;
    right: 0;
    transition: background-color 0.2s ease-in-out;

    &:hover .graphics {
      stroke: $secondaryColor;
    }
  }
}
