#home--container {
  min-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-box--container {
    width: 100%;
    max-width: 460px;

    p {
      color: #f00;
      font-weight: bold;
      margin-top: 5px;
    }
  }

}
