#navbar {
  background-color: rgb(31, 16, 2);
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  a {
    text-decoration: none;
  }

  .logo {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 65px;
    width: 55px;
    font-weight: bold;
    text-align: left;

    .logo__one {
      color: #fff;
    }

    .logo__two {
      color: #5dc6e0;
    }
  }

  #search-box {
    width: calc(100% - 75px);
    border-color: #000;
  }

  .error-box {
    padding: 15px;
    width: 100%;
    background-color: hsla(192, 82%, 13%, 0.5);
    color: #000;
    font-weight: bold;
    border: 2px solid #5dc6e0;
    border-radius: 10px;
    position: absolute;
    top: 65px;
    right: 0;
    animation: slide 0.25s linear forwards;
  }
}

@keyframes slide {
  from {transform: translateY(0); }
  to {transform: translateY(8px); }
}
