#search-box {
  border: 2px solid #000;
  background-color: #fff;
  height: 35px;
  border-radius: 10px;
  position: relative;

  #search {
    height: 100%;
    width: calc(100% - 40px);
    border: none;
    border-radius: 7px 0 0 7px;
    padding-left: 10px;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
  }

  #search-btn {
    background-color: #0a282f;
    height: 100%;
    width: 40px;
    border: none;
    border-radius: 0 7px 7px 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #5dc6e0;
    }
  }
}

#search-btn:hover .graphics {
  stroke: #0a282f;
}
